@mixin th($arg) {
  @media screen and (max-width: $arg) {
    @content
  }
}

.list{
  display: flex;
  height: 100vh;

  .listContainer{
    flex: 6;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    main{
      overflow-y: auto;

      .datatable{
        height: 41rem;
        padding: 1.5rem;
        margin-bottom: 3rem;

        .datagrid{
          background-color: #eee;
        }
      
        .dataTableTitle{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 24px;
          color: gray;
          margin-bottom: 10px;
      
          .link{
            text-decoration: none;
            color: green;
            font-size: 18px;
            font-weight: 400;
            border: 1px solid green;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
      
            @include th(400px){
              font-size: 16px;
            }
          }
          @include th(400px){
            font-size: 18px;
          }
        }
      
        .cellWithImg{
          display: flex;
          align-items: center;
      
          img{
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
      
        // .cellWithStatus{
        //   padding: 5px;
        //   border-radius: 5px;
      
        //   &.pending{
        //     color: goldenrod;
        //     background-color: rgba(218, 165, 32, 0.192);
        //   }
      
        //   &.active{
        //     color: green;
        //     background-color: rgba(0, 128, 0, 0.137);
        //   }
      
        //   &.passive{
        //     color: crimson;
        //     background-color: rgba(220, 20, 60, 0.116);
        //   }
        // }
      
        .cellAction{
          display: flex;
          gap: 15px;
      
          :nth-child(1){
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.555);
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
          }
      
          :nth-child(2){
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.527);
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}